@model HospitalService.ViewModels.YourProfileViewModel
@{
    Layout = "_Layout";
}

<link href="https://fonts.googleapis.com/css?family=Arbutus+Slab|Open+Sans:300,400,700" rel="stylesheet">
<link rel="stylesheet" href="fonts/icomoon/style.css">
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/jquery-ui.css">
<link rel="stylesheet" href="~/css/owl.carousel.min.css">
<link rel="stylesheet" href="~/css/owl.theme.default.min.css">
<link rel="stylesheet" href="~/css/owl.theme.default.min.css">

<link rel="stylesheet" href="~/css/jquery.fancybox.min.css">

<link rel="stylesheet" href="~/css/bootstrap-datepicker.css">

<link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css">

<link rel="stylesheet" href="~/css/aos.css">

<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="~/css/YourProfileStyle.css" />

<div class="row head site-blocks-cover overlay bg-light container justify-content-center">
       <div class="item">
           <img style="width:100%; margin:10px" src="https://interactive-examples.mdn.mozilla.net/media/examples/grapefruit-slice-332-332.jpg" alt="@Model.FirstName">
       </div>
    
        <div class="about-desc">
            <div class="owl-carousel3">
                <div class="item">
                    <h2><span>@Model.FirstName</span><span>@Model.LastName</span></h2>
                </div>
            </div>
            <div class="desc">
                <div class="rotate">
                    <h2 class="heading">About</h2>
                </div>
                <div class="row">
                    <h4>Login : </h4>
                    <p>@Model.Login</p>
                </div>
                <div class="row">
                    <h4>Email : </h4>
                    <p>@Model.Email</p>
                </div>
                <div class="row">
                    <h4>Date of birth : </h4>
                    <p>@Model.DateBirth</p>
                </div>
                <div class="row">
                    <h4>Type of blood : </h4>
                    <p>@Model.TypeBlood</p>
                </div>
                <a asp-area="" asp-controller="Patient" asp-action="Change" class="btn btn-outline-dark">Change</a>
            </div>
        </div>
</div>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/aos.js"></script>
<script src="js/jquery.fancybox.min.js"></script>
<script src="js/jquery.sticky.js"></script>
<script src="js/isotope.pkgd.min.js"></script>


<script src="js/main.js"></script>

